.user{
    background-color: coral;
    margin: 10px;
    padding: 15px;
    color: #000;
    border-radius: 18px;
}
#count-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 15px;
}

#btn-flag{
    padding: 5px;
    border-radius: 5px;
    background-color: blanchedalmond;  
}

#iconSolu{
    width: 80%;
    height: 80%;
}

#country-detail{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    border-radius: 10px;
}

